<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="gap: 335px">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          style="border: 0; background-color: #fff; height: 16px"
          data-dismiss="modal"
        >
          <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body">Do you want to permanently delete this blog?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <a id="confirmDeleteLink" href="#"
          ><button type="button" class="btn btn-primary">Yes</button></a
        >
      </div>
    </div>
  </div>
</div>
