<%- include("partials/header.ejs") %>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">
    Launch Your Blog - Inspire and Connect!
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      All you need to do is write your blogs, and we'll take care of the rest.
      Your posts will be displayed in our blogs section for everyone to read and
      enjoy. Share your thoughts, stories, and expertise with the world in just
      a few easy steps. Start blogging today and let your voice be heard!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/started">
        <button
          type="button"
          class="btn btn-primary btn-lg gap-3"
          fdprocessedid="f4xqao"
          onclick=""
        >Get Started</button>
      </a>
      <a href="blogs">
        <button
          type="button"
          class="btn btn-outline-secondary btn-lg"
          fdprocessedid="ndgrmm"
        >Blogs</button>
      </a>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
